# Ambienti virtuali
.venv/
venv/
env/

# File Python temporanei
__pycache__/
*.pyc

# Variabili d'ambiente
.env
.env.*

# File macOS
.DS_Store

# Configurazioni locali
.vscode/

# Database SQLite locali
*.db
*.sqlite3